
.section-header { 
    display: flex;
    align-items: center;
    margin: 10px 0 ;
    row-gap: 5px;
}

.section-menu { 
    display: flex;
    align-items: center;
}

.add-button { 
    cursor: pointer;
    padding: 0;
    margin: 0;
}